root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Keep trailing whitespace in Markdown (it can be a hard line break)
[*.{md,mdx}]
trim_trailing_whitespace = false

[*.{swift,metal,h,m,mm}]
indent_size = 2

[Makefile]
indent_style = tab
